
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  font-weight: $font-regular;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: $color-black;
  background-color: #F1F5F9;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1250px;
  padding-left: $spacer-6;
  padding-right: $spacer-6;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@include mobile-tablet {
  .content-wrapper {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
  }

  .hide-mobile-tablet {
    display: none;
  }

  .only-mobile-tablet {
    display: block;
  }
}

@include mobile {
  .content-wrapper {
    padding-left: $spacer-4;
    padding-right: $spacer-4;
  }

  .desk-visible {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}
